<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body>
    <img src="{% static 'title.png' %}" alt="" width="300" height="300" style="border-radius: 20px;">
    <img src="{% static 'title2.png' %}" alt="" width="300" height="300" style="border-radius: 20px;">
    <p></p>
    <h1>
        <a href="{% url 'boardapp:list_board' %}">게시판</a>
        <a href="{% url 'mainapp:search_information' %}">회원검색</a>
        {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}" %}>로그인</a>
        {% else %}
            <a href="{% url 'accountapp:logout' %}" %}>로그아웃</a>
            <a href="{% url 'messageapp:message_box' pk=request.user.pk %}" %}>메세지함</a>
        {% endif %}
        <a href="{% url 'accountapp:create_user' %}" %}>회원가입</a>
    </h1>
<!--    <a href='https://.pngtree.com/so/편지'>편지 png에서 .pngtree.com/</a>-->
</body>
</html>