<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" method="post" style="text-align: center;">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit" class="btn btn-primary btn-sm">
    </form>
    {% if user_list %}
        {% for list in user_list %}
            <h2>
                <a href="{% url 'accountapp:detail_user' pk=list.pk %}">
                    {{ list.username }}
                </a>
                {{ list.nickname }}
                <a href="{% url 'friendapp:create_friend' word1=request.user word2=list %}">
                    친구추가
                </a>
            </h2>
            <p></p>
            <hr>
        {% endfor %}
  {% endif %}
</body>
</html>