<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script type="text/javascript">
        function run(a) {
            console.log(a)
            var test1 = a.split("/");
            console.log(test1)
            var test2 = test1.length;
            console.log(test2)
            var test3 = test1[test2-1];
            console.log(test3);
            var test4 = test3.split(".");
            console.log(test4);
            var test5 = test4[0];
            console.log(test5);
            var test6 = test4[1];
            console.log(test6);
        }
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        body {
            background-image:url("{% static 'chat_bg.jpg' %}");
            background-size:100%
        }
    </style>
</head>
<body>
    <div align="center">
        <h1>채팅창</h1>
    </div>
    <p></p>
    {% for list in chat_users %}
        {% for delete_queryset in list %}
            {% if delete_queryset.send_user == request.user %}
                <div align="right">
                    {{ delete_queryset.send_user }}
                    <p></p>
                    <div class="chat_box">
                        {{ delete_queryset.chat_line }}
                    </div>
                    {% if delete_queryset.chat_img %}
                        <p></p>
                        <img src="{{ delete_queryset.chat_img.url }}" width='300' height='300' controls style="border-radius: 20px;" poster="{{ delete_queryset.chat_img.url }}">
                        {{ delete_queryset.chat_time }}
                        <p></p>
                    {% else %}
                        {{ delete_queryset.chat_time }}
                        <p></p>
                    {% endif %}
                </div>
            {% else %}
                <div align="left">
                    {{ delete_queryset.send_user }}
                    <p></p>
                    <div class="chat_box">
                        {{ delete_queryset.chat_line }}
                    </div>
                    {% if delete_queryset.chat_img %}
                        <p></p>
                        <button onclick="run('{{ delete_queryset.chat_img.url }}')">button</button>
                        <source src="{{ delete_queryset.chat_img.url }}" width='300' height='300' controls None style="border-radius: 20px;" poster="{{ delete_queryset.chat_img.url }}">
                        {{ delete_queryset.chat_time }}
                    {% else %}
                        {{ delete_queryset.chat_time }}
                        <p></p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <div align="right">
        <form action="{% url 'chatapp:chat' pk=chat_pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ chat_form }}
            <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
        </form>
    </div>
</body>
</html>