<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="javascript">
        function delete_check(url){
            var answer;
            answer = confirm("데이터를 삭제하시겠습니까?");
            if(answer == true){
                location = url;
            }
        }
    </script>
</head>
<body>
    <h1>친구 목록</h1>
    <hr>
    {% for list in friend_list %}
        {{ list.friend_relation }}
        <a href="{% url 'chatapp:chat' pk=list.friend_relation.pk %}">
            대화하기
        </a>
        <a href="javascript:delete_check('{% url 'friendapp:delete_friend' user=list.friend user_friend=list.friend_relation %}')">
            친구 삭제
        </a>
        <hr>
    {% endfor %}
</body>
</html>