<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="javascript">
	function delete_check(url){
		var answer;
		answer = confirm("데이터를 삭제하시겠습니까?");
		if(answer == true){
			location = url;
		}
	}
	</script>

</head>
<body>
    {% for list in board_target %}
        {{ list.Board_Owner }}
        <p></p>
        {{ list.Board_title }}
        <p></p>
        {% if list.Board_img.url != None %}
            <img src="{{ list.Board_img.url }}" alt="" width="300" height="300" style="border-radius: 20px;">
        {% endif %}
        <p></p>
        {{ list.Board_text }}
        <p></p>
        <a href="{% url 'boardapp:update_board' pk=list.pk %}">글수정</a>
        <a href="javascript:delete_check('{% url 'boardapp:delete_board' pk=list.pk %}')">글삭제</a>
    {% endfor %}
    <hr>
    {% for list in board_target %}
        <form action="{% url 'boardapp:detail_board' pk=list.pk %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
        </form>
    {% endfor %}
    <hr>
    {% for list in board_comment_target %}
        {{ list.Comment_line }}
        {{ list.Comment_User.nickname }}
        {{ list.Comment_Time }}
        <a href="{% url 'commentapp:update_comment' pk=list.pk %}">
            수정
        </a>
        <a href="javascript:delete_check('{% url 'commentapp:delete_comment' pk=list.pk %}')">X</a>
        <p></p>
    {% endfor %}
</body>
</html>