<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for list in board_target %}
        {{ list.Board_Owner }}
        <p></p>
        {{ list.Board_title }}
        <p></p>
        {{ list.Board_img }}
        <p></p>
        {{ list.Board_text }}
        <p></p>
        {{ list.pk }} pk임
        <form action="{% url 'boardapp:detail_board' pk=list.pk %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
        </form>
    {% endfor %}
    <hr>
    {% for list in board_comment_target %}
        {{ list.Comment_line }}
        {{ list.Comment_User.nickname }}
        {{ list.Comment_Time }}
        <a href="{% url 'commentapp:delete_comment' pk=list.pk %}">X</a>
        <p></p>
    {% endfor %}
</body>
</html>