<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'js/board.js' %}"></script>
    <style type="text/css">
    body{
        background-color:#E4F7BA;
    }
    </style>
</head>
</head>
<body>
    <h1>게시판</h1>
    {% for list in list_board %}
        <h1>
            <a href="#" onclick="list_board_js({{ list.Board_title }}{{ list.pk }})">{{ list.Board_title }}</a>
            <input hidden id="{{ list.Board_title }}{{ list.pk }}" value="{% url 'boardapp:detail_board' pk=list.pk %}">
        </h1>
    {% endfor %}
    <hr>
    <a href="#" onclick="create_board_js(create_board_html)">글쓰기</a>
    <input hidden id="create_board_html" value="{% url 'boardapp:create_board' %}">
</body>
</html>