<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><div style="text-align:center" id="time" ></div></h1>
<h1><div style="text-align:center" id="gameover"></div></h1>
<h1><a href="{% url 'gameapp:escape_ball' %}"><div style="text-align:center" id="restart"></div></a></h1>
<h1><div style="text-align:center" id="test"></div></h1>
<div>
    <canvas id="canvas">
</div>
<div>
    <script src="{% static 'js/escape_ball.js' %}"></script>
</div>
</body>
</html>